#filterBox {
    align-self: center;
    background-color: #69a673;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60vw;
    max-width: 500px;
    border-radius: 20px;
    color: white;
    box-shadow: -4px 2px 13px 0px rgba(0, 0, 0, 0.26);
    align-content: center;
    padding: 10px;
    box-sizing: border-box;
}

#filterBox > section {
    width: 100%;
}

.filterRows {
    display: flex;
    text-align: left;
    flex-direction: row;
    height: 50px;
    background-color: #69a673;
    border-radius: 10px;
    width: 80%;
    margin-top: .2em;
    font-size: 1.2em;
    align-items: center;
    padding: 10px;
    margin-right: 0;
}

.filterRows > p {
    margin-left: 1em;
}

.filterRows:hover {
    background-color: #588b60;
    cursor: pointer;
}

.rightside {
    grid-area: rightside;
    display: flex;
    flex-direction: column-reverse;
    min-width: 250px;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    padding-right: 25px;
    overflow-x: hidden;
    text-align: center; 
    align-items: center;
}

#homeUpload {
    min-height: 40px;
    margin-top: 3em;
    text-align: center;
    border-radius: 5px;
    max-width: 146px;
    transition: .5s;
    min-width: 100px;
}

.uploadLoadingScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 500px;
    height: 100%;
    font-size: 2em;
    color: #6c6c6c;
}

.uploadModal {
    width: 80vw;
    max-width: 310px;
}

.uploadForm {
    display: flex;
}

.uploadInput {
    border: #444444 1px solid;
    min-height: 30px;
    width: 90%;
    margin-top: 15px;
    box-sizing: border-box;
}

.uploadItem {
    width: 30%;
    min-height: 30px;
    border: none;
    font-size: 1em;
    text-align: start;
    margin-bottom: 1em;
}
  
.uploadItem:hover {
    background: #0c4279;
    color: #dbdbdb;
    transition: .2s;
    cursor: pointer;
}

.uploadItem:focus {
    outline: none;
    border: none;
}

#uploadDescription {
    padding-top: 10px;
    padding-bottom: 10px;
    resize: none;
    height: 100px;
}

#homeUpload:hover {
    box-shadow: -1px 4px 6px 0px rgba(0, 0, 0, 0.26);
}

.filterRows input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin-right: 1em;
}

.customCheckbox {
    position: relative;
    display: block;
    width: 15px;
    height: 15px;
    z-index: 0;
    border: 3px solid white;
    background-color: rgba(105, 166, 115, 0);
    content: "";
}

.customCheckbox:after {
    content: "";
    position: absolute;
    display: none;
}

.filterRows .customCheckbox:after {
    left: 4px;
    top: 1px;
    width: 3px;
    height: 8px;
    z-index: 0;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.filterRows input:checked ~ .customCheckbox:after {
    display: block;
}

.modalHeader {
    display: flex;
    font-size: .8em;
    padding-left: 15px;
    width: 100%;
    text-align: center;
    align-items: center;
    font-weight: normal;
}

.modalBody > form {
    display: flex;
    flex-direction: column;
}
  
.modalBody {
    background-color: #eeeff0;
    box-sizing: border-box;
    padding-left: 15px;
}

#userInfo {
    height: 80px;
    display: flex;
    position: fixed;
    width: 50%;
    right: 20px;
    bottom: 0;
    flex-direction: row;
    border-radius: 10px;
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 3em;
    font-size: .8em;
    box-shadow: -1px 4px 5.88px 0.12px rgba(0, 0, 0, 0.26);
}

#userInfo p {
    font-size: 1.2em;
    margin-top: 10px;
    font-weight: bold;
    margin-left: 10px;
    color: #343434;
}

#userProfilePic {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-size: cover;
}

.uploadModalButton {
    margin-top: 2em;
}

.questionTitle {
    resize: none;
    height: 10px;
    padding: 5px;
}

/**Media Queries**/
@media only screen and (min-width: 600px) {
    #userInfo {
        width: 20%;
    }
}

@media only screen and (min-width: 850px) {
    .rightside {
        display: flex;
        flex-direction: column;
        height: 100vh;
        min-width: 250px;
        width: 12%;
        position: fixed;
        top: 0;
        padding-top: 90px;
        box-sizing: border-box;
        padding-right: 25px;
        right: 0;
        z-index: 0;
        overflow-x: hidden;
        text-align: center; 
        justify-content: space-between;
        align-items: unset;
        align-content: center;
    }

    #filterBox {
        background-color: #69a673;
        flex-direction: column;
        border-radius: 20px;
        min-height: 300px;
        width: 100%;
        color: white;
        box-shadow: -4px 2px 13px 0px rgba(0, 0, 0, 0.26);
        align-content: center;
        padding: 10px;
        box-sizing: border-box;
    }

    .filterRows {
        display: flex;
        height: 50px;
        background-color: #69a673;
        border-radius: 10px;
        width: 70%;
        margin-top: .2em;
        font-size: 1.2em;
        align-items: center;
        padding: 10px;
        margin-right: 0;
    }

    .modalHeader {
        min-height: 120px;
        font-size: 1.3em;
        padding-left: 60px;
    }

    .modalBody {
        max-height: 800px;
        width: 100%;
        padding-left: 60px;
    }

    .uploadInput {
        margin-top: 40px;
        width: 85%;
        min-height: 45px;
        border-radius: 5px;
        font-size: 1.2em;
        padding: 0px 10px 0px;
    }

      
    #uploadDescription {
        height: 200px;
        padding-top: 10px;
        padding-bottom: 10px;
        resize: none;
    }

    .uploadModal {
        width: 55vw;
        max-width: 700px;
        min-height: 50vh;
        max-height: 1000px;
    }

    .uploadItem {
        width: 12vw;
        min-height: 50px;
        font-size: 1.2em;
        margin-bottom: 2em;
    }
}

@media only screen and (min-width: 1300px) {
    .rightside {
        display: flex;
        flex-direction: column;
        height: 100vh;
        min-width: 250px;
        width: 12%;
        position: fixed;
        top: 0;
        padding-top: 90px;
        box-sizing: border-box;
        padding-right: 25px;
        right: 0;
        z-index: 0;
        overflow-x: hidden;
        text-align: center; 
        justify-content: space-between;
        align-items: unset;
        align-content: center;
    }

    .filterRows {
        width: 90%;
    }

    #userInfo {
        position: relative;
        width: 100%;
        right: 0;
    }
    
}