#filterBox {
    background-color: #69a673;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: 20vh;
    min-height: 260px;
    color: white;
    box-shadow: -4px 2px 13px 0px rgba(0, 0, 0, 0.26);
    padding: 15px;
    margin-top: 6em;
    width: 100%;
}

.filterRows {
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: #69a673;
    border-radius: 10px;
    width: 95%;
    margin-top: .2em;
    font-size: 1.2em;
    align-items: center;
    padding: 5px;
}

.filterRows > label {
    margin-left: 1em;
    height: auto;
}

.filterRows > label:hover {
    color: #e9e9e9;
    cursor: pointer;
}

.rightside {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center; 
    padding-right: 30px;
    align-items: center;
}

#homeUpload {
    margin-top: 3em;
    text-align: center;
    border-radius: 5px;
    max-width: 146px;
    transition: .5s;
}

#homeUpload:hover {
    box-shadow: -1px 4px 6px 0px rgba(0, 0, 0, 0.26);
}

.customCheckbox:before {
    position: relative;
    bottom: 3px;
    right: 1px;
    display: block;
    width: 15px;
    height: 15px;
    border: 3px solid white;
    background-color: #69a673;
    content: "";
}

#userInfo {
    margin-top: auto;
}

.uploadModalButton {
    margin-top: 2em;
}