#topNav {
    grid-area: topNav;
    height: 5vh;
    min-height: 40px;
    width: 100%;
    background-color: rgba(234, 234, 234, 0);
    position: fixed;
    box-shadow: none;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 5vh;
    grid-template-areas: 
        "button search logo";
    z-index: 10;
    transition: .2s;
}

#searchBar {
    grid-area: search;
    height: 65%;
    align-self: center;
    border: none;
    width: 60%;
    box-shadow: -1px 4px 5px 0px rgba(0, 0, 0, 0.26);
    border-radius: 18px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: .8em;
    display: flex;
    opacity: 1;
}

#navLogo {
    grid-area: logo;
    transition: .6s;
    align-self: center;
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    margin-left: auto;
}

#navButton {
    grid-area: button;
    align-self: center;
    max-width: 30px;
    width: 40%; 
    margin-left: .5em;
}

#navButton:hover {
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    #searchBar {
        width: 50%;
        height: 50%;
    }
}

@media only screen and (min-width: 1500px) {
    #topNav {
        grid-template-columns: 3fr 9fr 1fr;
        min-height: 50px;
    }

    #searchBar {
        min-height: 30px;
        font-size: 1.2em;
        padding-left: 20px;
    }

    #navButton {
        max-width: 60px;
        margin-left: 1em;
    }
}