#blogPage {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.threadCard {
    width: 60vw;
    background: white;
    margin-bottom: .5em;
    border-radius: 5px;
    padding: 1em;
}

.threadTitle {
    margin-top: 2%;
    margin-bottom: 0%;
}

.info {
    margin: 0px;
    color: grey;
    display: inline;
    font-size: 90%;
    font-style: italic;
}

.threadDetail {
    display: grid;
    grid-template-columns: 10fr 2fr;
}

.threadWritter {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 10%;
    align-items: center;
    justify-items: center;
}

.threadWritter p{
    margin-left: auto; 
    margin-right: 0;  
    font-size: small;  
}

.threadWritter img{
    width: 35px;
    border-radius: 50px;
}

#author {
    margin-right: 1em;
}

.summary {
    margin-left: 0%;
    border-left: 5px solid #9fc6a5;
}

.summary p {
    margin-left: 1vw;
}

#deleteButton {
    background-color: #fb7373;
    padding: 5px;
    height: 25px;
    width: 100%;
    border-radius: 3px;
}

.blogModal {
    width: 85vw;
    min-height: 650px;
    padding: 0 1.5em;
    position: relative;
}

.threadPosting {
    border-bottom: 0.5px solid rgb(209, 209, 209);
    margin-bottom: 1em;
}

.threadInfo {
    margin: 0px;
    margin-top: 0%;
    color: grey;
    font-size: 95%;
    font-style: italic;
}

.comments {
    display: grid;
    grid-template-columns: 1fr 15fr;
    grid-template-rows: 30px auto;
    grid-template-areas:
        "photo username"
        ". text";
    margin-bottom: 1em;
}

.comment{
    text-align: center;
    margin: 3px;
    position: absolute;
    bottom: 0;
    width: 95%;
    margin-bottom: 15px;
}

#commentBox {
    max-height: 30px;
    width: 100%;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1em;
    box-sizing: border-box;
    resize: none;
    z-index: 10;
    background-color: rgb(245, 245, 245);
    display: block;
}