#blogPage {
    display: flex;
    flex-direction: column;
} 

.threadCard {
    background: white;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 80%;
    padding: 10px;
}

.threadTitle {
    margin-top: 2%;
    margin-bottom: 0%;
}

.info {
    margin: 0px;
    color: grey;
    display: inline;
    font-size: 90%;
    font-style: italic;
}

.threadDetail {
    display: grid;
    grid-template-columns: 10fr 2fr;
}

.threadWritter {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 10%;
    align-items: center;
    justify-items: center;
}

.threadWritter p{
    margin-left: auto; 
    margin-right: 0;  
    font-size: small;  
}

.threadWritter img{
    width: 35px;
    border-radius: 50px;
}

#author {
    margin-right: 1em;
}

.summary {
    margin-left: 0%;
    border-left: 5px solid #9fc6a5;
}

.summary p {
    margin-left: 1vw;
}

.blogModal {
    width: 85vw;
    min-height: 650px;
    padding: 0 1.5em;
    position: relative;
}

.threadPosting {
    border-bottom: 0.5px solid rgb(209, 209, 209);
    margin-bottom: 1em;
}

.threadInfo {
    margin: 0px;
    margin-top: 0%;
    color: grey;
    font-size: 95%;
    font-style: italic;
}

.threadComments {
    overflow: auto;
    height: 350px;
}

.edit-box {
    width: 97%;
    height:20px;
    border: 0.5px solid #dfdfdf;
    display: inline;
    border-radius: 3px;
}

.userPhoto {
    grid-area: photo;
    height: 30px;
    width: 30px;
    background-image: url('../../Es3UYDXXIAMYXiQ.jpeg');
    background-size: cover;
    border-radius: 50px;
    margin-right: 1em;
}

.usernameComment {
    border-bottom: 0.5px dashed #f1f1f1;
}

/* .editComment {
    max-width: 15px;
    float: right;
    margin: 3px;
}

.editComment:hover {
    border: 1px dashed #d6d6d6;
} */


.comment{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 95%;
    margin-bottom: 5px;
    background-color: #d6d6d6;
    height: 50px;
    padding-top: 20px;
}

.comment-body img:hover {
    border: 1px dashed #ffffff;
}

.comment img:hover {
    border: 1px dashed #d6d6d6;
}

#commentBox {
    height: 30px;
    width: 90%;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
    resize: none;
    z-index: 10;
    display: block;
    margin : 0 auto;
}