.App {
  background-color: #eaeaea;
  width: 100%;
}

button {
  outline: none;
  border: none;
}

.labelEntry {
  color: #3f3c3c;
  margin-top: 2em;
  font-size: 1em;
}

/* Home/Blog Page */
.container {
  padding: 20px;
}

#buffer {
  height: 5vh;
  min-height: 63px;
}

#mainContainer {
  width: 85%;
  margin-left: auto;
}

#mainPage {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.Main {
  margin-left: 200px;
  margin-right: 20%;
}

.search-bar input{
  margin: 30px;
  padding: 15px;
  font-size: 17px;
  border: 1px solid rgb(209, 208, 208);
  float: left;
  width: 60%;
  background: #fffefe;
  border-radius: 10px;
}

* {
  font-family: sans-serif;
}

h2 {
  font-weight: normal;
}

#blogPage {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#mainLogo{
  width: 20vw;
}

.modalScreen {
  display: flex;
  position: fixed;
  top:0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 15;
  align-items: center; 
  justify-content: center;
}

.exitButton {
  position: fixed;
  height: 50px;
  width: 50px;
  top: 10px;
  right: 10px;
  background-image: url('../src/Exit.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 20;
}

.exitButton:hover {
  cursor: pointer;
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

.uploadModal {
  width: 55vw;
  max-width: 700px;
  min-height: 50vh;
  max-height: 1000px;
}

.mainModal {
  width: 85vw;
  min-height: 750px;
  height: 70vh;
  display: flex;
  flex-direction: row;
}

input, select, textarea{
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  box-sizing:content-box;
  -webkit-box-sizing:content-box; 
  outline: none;
}

.uploadInput {
  margin-top: 40px;
  border: #444444 1px solid;
  width: 85%;
  min-height: 45px;
  border-radius: 5px;
  font-size: 1.2em;
  padding: 0px 10px 0px;
}


.typeInput {
  text-align: end;
}

#uploadDescription {
  height: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  resize: none;
}

#optionPlaceholder {
  color: rgb(68, 68, 68);
  display: none;
}

#modal > form > button {
  margin-top: 40px;
  width: 30%;
}

#modal > form > button:hover {
  background: #0c4279;
  color: #dbdbdb;
  transition: .2s;
  cursor: pointer;
}

#modal > form > button:focus {
  outline: none;
}

#questionText {
  resize: none;
  height: 400px;
  padding: 5px;
}

#labelForFile {
  border: none;
  padding: 0;
}

#inputFile {
  width: 50%;
  border: none;
  margin: 0;
  padding: 0;
}

.siteButton {
  background: #1464b6;
  color: white;
  padding-left: 8px;
}

.uploadItem {
  width: 12vw;
  min-height: 50px;
  border: none;
  font-size: 1.2em;
  text-align: start;
  margin-bottom: 2em;
}

.uploadItem:hover {
  background: #0c4279;
  color: #dbdbdb;
  transition: .2s;
  cursor: pointer;
}

.uploadItem:focus {
  outline: none;
  border: none;
}

.Main {
  margin-left: 200px;
  margin-right: 20%;
}

.deletebutton{
  position: absolute;
  top: 85%;
  left:65%; 
}

.combox{
  width: 50;
  height: 10;
  position: absolute;
  top:85%;
  left:45%;

}

.itemBox{
  width: 500px;
  height:500px;
background-color: green;
position: absolute;
top: 35%;
left:35%;
}


.search-bar input{
  margin: 30px;
  padding: 15px;
  font-size: 17px;
  border: 1px solid rgb(209, 208, 208);
  float: left;
  width: 60%;
  background: #fffefe;
  border-radius: 10px;
}

.filter-box{
  width: 200px;
  margin: 10px;
  padding: 5px;
  text-align: left;
  border: .5px solid rgb(163, 163, 163);
  border-radius: 5px;
}

.leftside {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center; 
}
